<!-- templates/partials/comment.html -->

<div class='card'    style="border-left-width: 100px; border-right-width: 100px; border-top-width: 10px">
    <div class='card-block'>
        <h4 class='card-title'>{{ comment.title }}</h4>
        <p class='card-text'>{{ comment.content }}</p>
        <!-- Delete link -->
        <p>
            <form method='POST' action='/inventory/{{ inventory_id }}/comments/{{ comment._id }}/delete'>
                <button class='btn btn-link' type='submit'>Delete</button>
            </form>
            <form method='PUT' action='/inventory/{{ inventory._id }}/comments/{{ comment._id }}/edit'>
                <button class= 'btn btn-link' type="submit">Edit</button>
            </form>
        </p>
    </div>
</div>