{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row text-center" style="background-color:lightgrey">
        <div class="col-md-12 text center">
            </div class="panel-body">
                <img src="{{ inventory.pic_path }}" style="width: 15%">
                <h3 style="padding-right: 10px"><a href="/inventory/{{ inventory._id }}">{{inventory.product_team_brand}}</a></h3>
                <h4 style="padding-right: 10px">{{inventory.product_name}}</h4>
                <h5 style="padding-right: 10px">${{inventory.product_price}}</h5>
            </div>
        </div>
    </div>
</div>

{% endblock %}