  
{% extends 'base.html' %}

{% block content %}

<div class="container" style="background-color:maroon">
    <div class="row text-center" style="padding-top: 20px">
        {% for inventory in inventory_list %}
            <div class="col-md-12 text center">
                </div class="panel-body">
                    <img src="{{ inventory.pic_path }}" style="width: 15%">
                    <h3>{{inventory.product_name}}</h3>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}